# Database
DATABASE_URL="postgresql://user:password@localhost:5432/tachlees"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_SECRET="your-secret-key-min-32-characters-long"
NEXTAUTH_SECRET="your-nextauth-secret-min-32-characters"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="תאכלס - הכי זול בארץ"
NODE_ENV="development"

# Vercel
VERCEL_URL=""
